/* CSS Document */

html {
  background-color: black;
}
#button1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  font-size: 4vh;
  text-align: center;
  display: inline-block;
  color: black;
  font-family: arbutus;
  font-weight: bold;
  border-radius: 3vh;
  background-color: white;
  height: 6vh;
  width: 45vh;
  line-height: 5vh;
  padding-top: 1vh;
}
